:root{
    --first-color: rgba(148, 4, 148, 0.993);
    --second-color: black;
    --terciary-color: rgb(105, 43, 97);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: auto;
    height: auto;
    display: flex;
}



